<%- include("partials/header") -%>


<div class="box" id="heading">
    <h1>Compose</h1>
</div>
<div class="item">
    <form action="/compose" method="post" class="item">
        <h4>Title</h4>
        <input type="text" name="itemTitle" autocomplete="off"><br>
        <h4>Content</h4>
        <input type="text" name="itemContent" autocomplete="off">
        <input type="submit" value="Publish">
    </form>
</div>


<%- include("partials/footer") -%>